body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

.header{
    display: flex;
}

.header-links{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.top{
    display: flex;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
}

.image{
    margin-left: auto;
}

.sign-up{
    color: white;
    background-color: #3882F6;
    text-align: center;
    height: 25px;
    width: 60px;
    
}